
.logo{
    height: 50px;
    margin-top: -10px;
    border-radius: 15px;
    box-shadow: 0 0 5px 5px pink;
}

.menue{
    text-align: center;
}

.hamsterbilder, .hamstermenu{
    height: 50px;
    margin-top: -10px;
    border-radius: 15px;
    box-shadow: 0 0 5px 5px pink;
}

.hamstermenu{
    margin: 10px 5px;
}

.hamstermenu:hover, .plus:hover{
    cursor: pointer;
}

.hamsterliste{
    border: solid 1px lightgrey;
    border-radius: 15px;
    padding: 20px 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #ffdede;
}

.liste-ueberschrift{
    font-size: 24pt;
    font-weight: bold;
}

.liste-erklaerung{
    background-color: beige;
    border-radius: 10px;
    padding: 5px 10px;
}

h1{
    font-size: 36pt;
    text-align: center;
}

.zahlen, .ladebalken{
    text-align: center;
}

.zahlen{

}

.links, .rechts{
    border: solid 1px lightgray ;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 5px 5px;
}

.links{
    min-width: 400px;
    max-width: 800px;
    /*
    position: relative;
    left: calc(50% - 400px);
    */
}

.liste-plus{
    height: 60px;
    font-size: 18pt;
}

.liste-plus-text{
    height: 60px;
    position: relative;
    top: calc(50% - 30px); 
}

.plus{
    border: red;
    border-radius: 7px;
    background-color: red;
    color: white;
    width: 50px;
    height: 50px;    
    text-align: center;
    position: relative;
    top: calc(50% - 25px);    
}

.plus:active{
    scale: 0.9;
}

.kaufbutton{
    border: solid 1px lightgrey;
    border-radius: 7px;
    padding: 5px 10px;
    background-color: rgb(164, 255, 164);
    color: black;
}

.kaufbutton:active{
    scale: 0.9;
}

#loader{
    color: black;
    position: relative;
    z-index: 999 !important;
}

.footer{
    text-align: center;
    font-size: x-small;
}

.icons{
    height: 30px;
}

.frage, .antwort-label{
    font-size: 12pt;
}

.frage{
    font-weight: bold;
}

.antwort-radio{
    margin-left: 30px;
}

.antwort-label{
    margin-left: 15px;
}

.loesen{
    border: solid 1px lightgrey;
    border-radius: 7px;
    padding: 7px 20px;
    margin-top: 20px;
}

#antwort-link{
    text-align: center;
    margin-top: 20px;
}

.antwort-link-falsch{
    text-decoration: none;
    color: red;
    border: solid 1px red;
    border-radius: 7px;
    padding: 5px 15px;    
}

.antwort-link-richtig{
    text-decoration: none;
    color: green;
    border: solid 1px green;
    border-radius: 7px;
    padding: 5px 15px;    
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 400px;
    height: 28px;
    border-radius: 20px;
    color: #ff9494;
    border: 2px solid;
    position: relative;
    left: calc(50% - 200px);
  }
  .loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: l6 5s infinite;
  }
  @keyframes l6 {
      100% {inset:0}
  }